<aside class="left-panel {{ if .session.collapse }}collapsed{{ end }}">
    <div class="logo">
        <a class="logo-expanded">
            <span class="nav-label">Internal CRM</span>
        </a>
    </div>
    <nav class="navigation" style="margin-top: 0;">
        <ul class="list-unstyled">
            <li>
                <a id="collapse" class="navbar-toggle"><i class="fa fa-bars text-center"></i><span class="nav-label">Collapse</span></a>
            </li>
            <li>
                <a href="/customer"><i class="fa fa-building-o text-center"></i><span class="nav-label">Customers</span></a>
            </li>
            {{ if eq .session.ROLE "ADMIN" "DEVELOPER" }}
                <li>
                    <a href="/admin/employee"><i class="fa fa-users text-center"></i><span class="nav-label">Employees</span></a>
                </li>
                <li>
                    <a href="/admin/task/all"><i class="fa fa-tasks text-center"></i><span class="nav-label">Tasks</span></a>
                </li>
            {{ end }}
            <li>
                <a href="/account"><i class="fa fa-user text-center"></i><span class="nav-label">My Account</span></a>
            </li>
            <li>
                <a id="saveHome"><i class="fa fa-floppy-o text-center"></i><span class="nav-label">Save Landing Page</span></a>
            </li>
            <li>
                <a href="/logout"><i class="fa fa-sign-out text-center"></i><span class="nav-label">Logout</span></a>
            </li>
        </ul>
    </nav>
</aside>
