<!DOCTYPE html>
<html lang="en">
    <head>

        {{ template "head.tmpl" . }}

        <link href="/static/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/datatables/custom.css" charset="utf-8">

        <title>Tasks</title>

    </head>

    <body>

        {{ template "side-nav.tmpl" . }}

        <!--Main Content Start -->
        <section class="content">

            {{ template "nav.tmpl" . }}

            <div class="wraper container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">
                            Home
                        </p>

                        <div class="panel panel-default p-0">
                            <div class="panel-body p-0">
                                <ul class="nav nav-tabs profile-tabs">
                                    <li><a href="/account">Dashboard</a></li>
                                    <li class="active"><a>Tasks</a></li>
                                </ul>

                                <div class="tabPane clearfix">
                                    <ul class="nav nav-tabs">
                                        <li {{ if eq .page "today" }}class="active"{{ end }}><a class="tab stat-tab" href="/task/today">Today's Tasks</a></li>
                                        <li {{ if eq .page "overdue" }}class="active"{{ end }}><a class="tab stat-tab" href="/task/overdue">Overdue Tasks</a></li>
                                        <li {{ if eq .page "incomplete" }}class="active"{{ end }}><a class="tab stat-tab" href="/task/incomplete">Incomplete Tasks</a></li>
                                        <li {{ if eq .page "complete" }}class="active"{{ end }}><a class="tab stat-tab" href="/task/complete">Complete Tasks</a></li>
                                    </ul>
                                    <br>
                                    <div class="profile-desk">
                                        <table id="tasksTable" class="table table-bordered table-hover" width="100%" style="width: 100%;background-color:white;">
                                            <thead>
                                                <tr id="search">
                                                    <th>customer</th>
                                                    <th>assignedTime</th>
                                                    <th>startTime</th>
                                                    <th>stopTime</th>
                                                    <th>totalTime</th>
                                                    <th>complete</th>
                                                </tr>
                                                <tr>
                                                    <th>Customer</th>
                                                    <th>Assigned Date</th>
                                                    <th>Last Started</th>
                                                    <th>Last Stopped</th>
                                                    <th>Total Time</th>
                                                    <th>Complete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{ range $task := .tasks }}
                                                    <tr class="click" style="cursor:pointer;" data-task='{{ toBase64Json $task }}'>
                                                        <td><a style="color:#f58220;" href="/customer/{{ $task.CustomerId }}">{{ $task.CustomerName }}</a></td>
                                                        <td>{{ prettyDate $task.AssignedTime }}</td>
                                                        <td>{{ prettyDateTime $task.StartTime }}</td>
                                                        <td>{{ prettyDateTime $task.StopTime }}</td>
                                                        <td>{{ printTime $task.GetTotalTime }}</td>
                                                        <td>{{ if $task.Complete }}Yes{{ else }}No{{ end }}</td>
                                                    </tr>
                                                {{ end }}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{ template "footer.tmpl" . }}

        </section>

        <div class="modal fade" id="taskModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="taskModalTitle">Task</h4>
                    </div>
                    <div class="modal-body clearfix" id="taskModalBody">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Assign Date</label>
                                <div id="assignedTime"></div>
                            </div>
                            <div class="col-lg-6">
                                <label>Customer</label>
                                <div id="customer"></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <div id="description"></div>
                                </div>
                            </div>
                        </div>
                        <div id="notes" class="row">
                            <div class="col-lg-12">
                                <label>Notes</label>
                                <ul id="notes"></ul>
                                <form method="post" id="taskNoteForm">
                                    <div class="form-group">
                                        <textarea class="form-control" name="notes" rows="3"></textarea>
                                    </div>
                                    <button class="btn btn-primary">Add Note</button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-4">
                                <label>Started</label>
                                <div id="startTime"></div>
                            </div>
                            <div class="col-lg-4">
                                <label>Stopped</label>
                                <div id="stopTime"></div>
                            </div>
                            <div class="col-lg-4">
                                <label>Total</label>
                                <div id="totalTime"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <br>
                                <form id="complete" class="hide" method="post">
                                    <button class="btn btn-primary">Complete</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {{ template "scripts.tmpl" . }}

        {{ template "session.tmpl" . }}

        <script src="/static/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/datatables/dataTables.bootstrap.js"></script>
        <script src="/static/datatables/custom.js" charset="utf-8"></script>

        <script type="text/javascript">
            var table = $('#tasksTable').DataTable({
                "lengthMenu":[5,10,15,20],
                "columnDefs": [
                    { "name": "assignedTime",   "targets": 0 },
                    { "name": "startTime",      "targets": 1 },
                    { "name": "stopTime",       "targets": 2 },
                    { "name": "complete",       "targets": 3 }
                ]
            });

            $(document).on('click', 'tr.click', function() {
                resetTaskModal();

                var task = {};
                try {
                    task = JSON.parse(atob($(this).attr('data-task')));
                } catch(err) {
                    swal({
                        title: 'Error',
                        text: 'Error displaying task. PLease refresh the page and try again',
                        type: 'warning',
                        showConfirmButton: false
                    });
                    return
                }

                var date = new Date(task.assignedTime * 1000);
                $('div#assignedTime').html(date.toLocaleDateString());
                $('div#customer').html('<a style="color:#f58220;" href="/customer/' + task.customerId + '">' + task.customerName + '</a>');
                $('div#description').html(task.description);
                $('ul#notes').html(task.notes);
                if (task.complete) {
                    $('form#taskNoteForm').addClass('hide');
                }
                var startHtml;
                var stopTime;
                var tt = 0;

                if (task.startTime > 0) {
                    var startTime = new Date(task.startTime * 1000);
                    startHtml = startTime.toLocaleString();
                    if (task.stopTime > 0) {
                        var stopTime = new Date(task.stopTime * 1000);
                        stopTime = stopTime.toLocaleString();
                        if (!task.complete) {
                            startHtml += '<br><form action="/task/' + task.id + '/start" method="post"><button class="btn btn-primary btn-xs">Resume Task</button></form>';
                            $('form#complete').attr('action', '/task/' + task.id + '/complete');
                            $('form#complete').removeClass('hide');
                        }
                    } else {
                        stopTime = '<form action="/task/' + task.id + '/stop" method="post"><button class="btn btn-primary btn-xs">Stop Task</button></form>';
                    }

                    if (task.stopTime > 0) {
                        tt = task.totalTime
                    } else {
                        tt = Math.round((new Date()).getTime() / 1000) - task.startTime
                    }

                } else {
                    startHtml = '<form action="/task/' + task.id + '/start" method="post"><button class="btn btn-primary btn-xs">Start Task</button></form>';
                    stopTime = "N/A";
                }
                if (tt > 60) {
                    var h = Math.floor(tt / 3600);
                    var m = Math.floor(tt % 3600 / 60);
                    $('div#totalTime').html(h +' hour(s), ' + m + ' minute(s)');
                }

                $('div#startTime').html(startHtml);
                $('div#stopTime').html(stopTime);
                $('#taskModal').modal('show');

            });

            function resetTaskModal() {

                $('div#assignedTime').html('');
                $('div#customer').html('');
                $('div#description').html('');
                $('ul#notes').html('')
                $('form#taskNoteForm').attr('action', '');
                $('div#startTime').html('')
                $('div#stopTime').html('')
            }
        </script>

    </body>
</html>
